html,body {
  height: 100%;
}

.admin-nav {
  width: 220px;
  min-height: 100vh;
  overflow: hidden;
  background-color: #343a40;
  transition: 0.3s all ease-in-out;
}

.admin-link {
  background-color: #343a40;
}

.admin-link:hover, .nav-active {
  background-color: #212529;
  text-decoration: none;
}

.animate {
  width: 0;
  transition: 0.3s all ease-in-out;
}